### Practical 1

### Read data from a CSV file. Process it and create files on the processed data

In [8]:
import pandas as pd

triplet_dataset = pd.read_csv(filepath_or_buffer='train_triplets_sample.txt', nrows=10000, sep='\t', header=None, names=['user', 'song', 'playcount'])

print('Top ten rows of the dataset:')
print(triplet_dataset.head(n=10))

Top ten rows of the dataset:
                                       user                song  playcount
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995          1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9          1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B          2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22          1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494          1
5  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBNZDC12A6D4FC103          1
6  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBSUJE12A6D4F8CF5          2
7  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODDNQT12A6D4F5F7E          5
8  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOFTKSZ12A6D4F5DC5          1
9  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOHQIAG12A8C136F64          1

In [10]:
# get user and play counts

output_dict = {}

with open('train_triplets_sample.txt') as f:
    for line_number, line in enumerate(f):
        user = line.split('\t')[0]
        play_count = int(line.split('\t')[2])
        if user in output_dict:
            play_count += output_dict[user]
            # output_dict.update({user: play_count})
        output_dict.update({user: play_count})
output_list = [{'user': k, 'play_count': v} for k, v in output_dict.items()]
play_count_df = pd.DataFrame(output_list)
play_count_df = play_count_df.sort_values(by='play_count', ascending=False)
play_count_df.to_csv(path_or_buf='user_play_count_df.csv', index=False)

In [11]:
# get song and play counts

output_dict = {}

with open('train_triplets_sample.txt') as f:
    for line_number, line in enumerate(f):
        song = line.split('\t')[1]
        play_count = int(line.split('\t')[2])
        if song in output_dict:
            play_count += output_dict[song]
        output_dict.update({song: play_count})
output_list = [{'song': k, 'play_count': v} for k, v in output_dict.items()]
song_count_df = pd.DataFrame(output_list)
song_count_df = song_count_df.sort_values(by='play_count', ascending=False)
song_count_df.to_csv(path_or_buf='song_play_count_df.csv', index=False)

In [12]:
# to find the top ten user play count:
play_count_df.head(10)

                                        user  play_count
12  5a905f000fc1ff3df7ca807d57edb608863db05d        1422
30  a58de017cbeda1763ea002fe027ed41b4ed53109         606
16  baf47ed8da24d607e50d8684cde78b923538640f         413
11  d6589314c0a9bcbca4fee0c93b14bc402363afea         354
19  bd8475385f0aa78830fa6dfce9e7242164b035c8         228
10  17aa9f6dbdf753831da8f38c71b66b64373de613         208
9   b64cdd1a0bd907e5e00b39e345194768e330d652         164
26  2c42e6551311710ca5a839d62058820a42ead493         135
25  405d396ea64d75b5eaefaaf8ac836f45fa56af4d         134
23  f84f5b5a5c5d1d9fb4866f6488e0d2661b54c192         128

In [13]:
# to find top ten song play count
song_count_df.head(10)

                    song  play_count
185   SOBONKR12A58A7A7E0          36
198   SONYKOW12AB01849C9          29
740   SOMVTRL12A67AE0921          28
1240  SOGKEGN12AB0185355          26
182   SOAUWYT12A81C206F1          25
130   SOVHVBJ12A58A7AB0A          24
514   SOTTNZU12A6D4FA237          23
537   SOAMPRJ12A8AE45F38          20
1246  SOWHSGK12A6D4FC429          19
515   SOTWSXL12A8C143349          19

In [1]:
import nltk

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True